@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Rating

  
      @* <img id="logo" alt="logo" src={logo}></img> *@
        <div id="sign" className='col-6 center shadow-lg p-3 mb-5 bg-white rounded'>
               <h1>Add Rating</h1>
                <form asp-action="AddItemToDB" method="post">

                        <div className="form-group sign">
                           <label asp-for="UserName" htmlFor='lname'><i className="bi bi-person-fill"></i></label>
                            <input asp-for="UserName" type="text" className="form-control"  name="UserName" placeholder="User Name" required="required"></input>
                        </div>

                        <br></br>
                        <div className="form-floating sign">
                            <label asp-for="Rate" htmlFor='lname'><i className="bi bi-lock-fill"></i></label>
                            <input asp-for="Rate" type="number" className="form-control"  name="Rate" placeholder="Rating" required="required" min="1" max="5"></input>

                        </div>

                          <div className="form-floating sign">
                            <label asp-for="Review" htmlFor='lname'><i className="bi bi-person-fill"></i></label>
                            <input asp-for="Review" type="text" className="form-control"  name="Review" placeholder="User Name"></input>

                        </div>
            
                        <button type="submit" id="btn" className="btn btn_start btn-primary" > Submit</button>

                        <div className="link">
                        </div>
                    </form>
                </div>
                